<% content_for :title, "A Web Page - All Secrets"%>

 <div style = "display: inline-block; vertical-align: top; margin-left: 0px; margin-top: 20px; padding: 10px; width: 400px; border: 1px solid black">
 <%=link_to "Back to Profile", user_path(current_user)%>
    <h1> Secrets </h1>
    <% @secrets.each do |secret|%>
        <%=secret.content%><br>
        <%=secret.likes.count%> likes
        
        <%# INSPECTING EACH SECRET FOR THEIR EXISTING LIKES...%>
        <%#---------------------------------------------------%>
        <%=secret.likes.inspect%>
        <%#---------------------------------------------------%>
        <% if secret.users.exclude?(current_user)%>
        <%#unless secret.users.include?(current_user)%>
            <p> <%= link_to "Like", likes_path(:secret => secret, :user =>current_user), :method => :post  %> </p>
        <%else%>
             <p> <%= link_to "Unlike", likes_path(:secret => secret, :user =>current_user) , :method => :delete %> </p>
        <%end%>
        <%if current_user.id == secret.user.id %>
           <form action= '/secrets/<%=secret.id%>' method='post'>
                <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
                <input type="hidden" name="_method" value="delete">
                <input type="submit" name="commit" value="Delete">
            </form>
        <% end %>
    <% end %>
</div>